 <div class="d-flex flex-column gap-3 text-start px-4 py-3">
    <!-- remote host -->
    <div class="input-group">
      <span class="input-group-text bg-dark text-light fw-medium">Remote host:</span>
      <input type="text" class="form-control" disabled readonly value="{{ log.orig_h }} : {{ log.orig_p }}" />
    </div>

    <!-- date -->
    <div class="input-group">
      <span class="input-group-text bg-dark text-light fw-medium">Date:</span>
      <input type="text" class="form-control" disabled readonly value="{{ log.timestamp.strftime('%Y-%m-%d') }}" />
    </div>

    <!-- time -->
    <div class="input-group">
      <span class="input-group-text bg-dark text-light fw-medium">Time:</span>
      <input type="text" class="form-control" disabled readonly value="{{ log.timestamp.strftime('%H:%M:%S') }}" />
    </div>

    <!-- UID -->
    <div class="d-flex justify-content-between px-1">
      <span class="fw-medium">UID:</span>
      <span class="text-end">{{ log.uid }}</span>
    </div>

    <!-- status code & method (dwie kolumny) -->
    <div class="row g-3 m-0">
      <div class="col-12 col-lg-6 p-0 pe-lg-2">
        <div class="d-flex justify-content-between">
          <span class="fw-medium">Status code:</span>
          <span class="text-end">{{ log.status }}</span>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-0 ps-lg-2">
        <div class="d-flex justify-content-between">
          <span class="fw-medium">Method:</span>
          <span class="text-end">{{ log.method }}</span>
        </div>
      </div>
    </div>

    <!-- resource -->
    <div class="input-group">
      <span class="input-group-text bg-dark text-light fw-medium">Resource:</span>
      <input type="text" class="form-control" disabled readonly value="{{ log.uri }}" />
    </div>

    <!-- referrer -->
    <div class="input-group">
      <span class="input-group-text bg-dark text-light fw-medium">Referrer:</span>
      <input type="text" class="form-control" disabled readonly value="{{ log.referrer }}" />
    </div>

    <!-- size & type -->
    <div class="row g-3 m-0">
      <div class="col-12 col-lg-6 p-0 pe-lg-2">
        <div class="d-flex justify-content-between">
          <span class="fw-medium">Size:</span>
          <span class="text-end">{{ log.resp_body_len }} Bytes</span>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-0 ps-lg-2 overflow-hidden">
        <div class="d-flex justify-content-between">
          <span class="fw-medium pe-2">Type:</span>
          <span class="text-end text-truncate" title="{{ log.resp_mime_types }}">{{ log.resp_mime_types }}</span>
        </div>
      </div>
    </div>

    <!-- agent -->
    <div class="input-group">
      <span class="input-group-text bg-dark text-light fw-medium">Agent:</span>
      <input type="text" class="form-control" disabled readonly value="{{ log.user_agent }}" />
    </div>

  </div>

  <footer class="mt-5">{% include 'footer.html' %}</footer>

  <script>
    {
      document.querySelectorAll(".log-item").forEach((el) => {
        el.classList.remove("active");
      });

      let activeLog = document.getElementById("log-item-{{ current_id }}");

      if (activeLog) {
        activeLog.classList.add("active");
        activeLog.scrollIntoView({ block: "nearest", behavior: "auto" });
      }
    }
  </script>
</div>