<div>
  <div class="container-fluid">
    <div class="row justify-content-evenly">
			<div class="col-5 text-center">
				{% if prev_id is not none %}
					{%set isDisabled = ""%}
				{% else %}
					{% set isDisabled = "disabled" %}
				{% endif %}
				<button type="button" class="btn btn-outline-light w-75" {{ isDisabled }}
						hx-get="/detail/{{ prev_id }}"
						hx-target="#detail-pane">
					Previous
				</button>
			</div>

			<div class="col-5 text-center">
				{% if next_id is not none %}
					{%set isDisabled = ""%}
				{% else %}
					{% set isDisabled = "disabled" %}
				{% endif %}
				<button type="button" class="btn btn-outline-light w-75" {{ isDisabled }}
						hx-get="/detail/{{ next_id }}"
						hx-target="#detail-pane"
						>
					Next
				</button>
			</div>
    </div>
  </div>
</div>
