<nav>
  <div class="container-fluid p-2 mb-3">
    <div class="row">
      <div class="col-8 text-start">
        <div class="input-group align-self-start">
          <span class="input-group-text bg-dark text-light" id="basic-addon3">Path:</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" 
          aria-label="Disabled input example" 
          disabled readonly value="TUTAJ SCIEZKA Z PYTHONA"
          >
        </div>
      </div>

      <div class="col-4 text-end">
        <button type="button" class="btn btn-outline-light w-50">Open</button>
      </div>
    </div>
  </div>
</nav>