<nav>
  <div class="container-fluid p-2 mb-4 h-25">
    <div class="row">
      <div class="col-9 text-start">
        <div class="input-group align-self-start">
          <span class="input-group-text bg-dark text-light" id="basic-addon3">Path:</span>
          <input type="text" class="form-control overflow-auto" aria-describedby="basic-addon3 basic-addon4" 
          aria-label="path-folder" 
          disabled readonly value="TUTAJ SCIEZKA Z PYTHONA"
          >
        </div>
      </div>

      <div class="col-3 text-end">
        <button type="button" class="btn btn-outline-light w-75">Open</button>
      </div>
    </div>
  </div>
</nav>