<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Log Browser</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='icon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
  </head>
  <body class="bg-dark text-light p-2 vh-100 d-flex flex-column overflow-hidden">
    <header class="flex-shrink-0">{% include 'header.html' %}</header>

    <aside class="z-3 position-absolute top-0 end-0">
      <div class="d-flex flex-column vh-100 overflow-auto">
        {% for _ in range(0) %}
          {% include 'error.html' %}
        {% endfor %}
      </div>
    </aside>

    <main id="master" class="flex-grow-1 overflow-hidden">
      <div class="container-fluid py-2 h-100 d-flex flex-column">
         <div class="row text-start mb-3 flex-shrink-0">
            <form action="/filter" method="POST" class="row text-start mb-3 flex-shrink-0 align-items-center">
  
              <div class="col-4">
                <div class="input-group">
                  <span class="input-group-text bg-dark text-light">From:</span>
                  <!-- Dodane name="date_start" -->
                  <input type="datetime-local" step="1" name="date_start" class="form-control text-black" />
                </div>
              </div>

              <div class="col-4">
                <div class="input-group">
                  <span class="input-group-text bg-dark text-light">To:</span>
                  <!-- Dodane name="date_end" -->
                  <input type="datetime-local" step="1" name="date_end" class="form-control text-black" />
                </div>
              </div>

              <div class="col-4 text-end">
                <!-- Przycisk, który wyśle te daty do Pythona -->
                <button type="submit" class="btn btn-outline-light w-100">Zastosuj filtr</button>
              </div>

            </form>
          </div>

        <div class="row flex-grow-1 overflow-hidden">
          <div class="col-4 h-100 overflow-auto">
            <div class="d-flex flex-column">
              <div class="list-group">
              {% for log in logi %}
              <li
                class="list-group-item text-nowrap overflow-hidden px-1 bg-dark-subtle border-bottom border-dark"
                hx-get="/detail/{{ loop.index0 }}"
                hx-target="#detail-pane"
              >
              <!-- loop.index0 to wbudowany licznik petli -->
                <!-- TUTAJ JAK JAKIS LOG JEST WYSWIETLANY TO DO DANEGO LI DODAC ACTIVE KLASE{{ log.ip }} - [{{ log.status }}] {{ log.uri }} -->
                {{ log.orig_h }} - [{{ log.status }}] {{ log.uri }}
              </li>
              {% endfor %}
              </div>

            </div>
          </div>

          <section id="detail-pane" class="col-8 h-100 text-center overflow-auto">
            <p>Click on log to see details</p>
          </section>
        </div>
      </div>
    </main>

    <footer class="">
      {% include 'footer.html' %}
    </footer>

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
