<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <title>Log Browser</title>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='icon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
  </head>
  <body class="bg-dark text-light p-2 vh-100 d-flex flex-column overflow-hidden">
    <header class="flex-shrink-0">{% include 'header.html' %}</header>

    <aside class="z-3 position-absolute top-0 end-0">
      <div class="d-flex flex-column vh-100 overflow-auto">
        {% for _ in range(0) %}
          {% include 'error.html' %}
        {% endfor %}
      </div>
    </aside>

    <main id="master" class="flex-grow-1 overflow-hidden">
      <div class="container-fluid p-2 py-2 h-100 d-flex flex-column">
          <form action="/filter" method="POST" class="row m-0 mb-3 flex-shrink-0 w-100">

            <div class="col-5">
              <div class="input-group">
                <span class="input-group-text bg-dark text-light">From:</span>
                <input type="datetime-local" step="1" name="date_start" class="form-control text-black" value="{{ start_date }}"/>
              </div>
            </div>

            <div class="col-5">
              <div class="input-group">
                <span class="input-group-text bg-dark text-light">To:</span>
                <input type="datetime-local" step="1" name="date_end" class="form-control text-black" value="{{ end_date }}"/>
              </div>
            </div>

            <div class="col-2">
              <button type="submit" class="btn btn-outline-light w-100">Filter</button>
            </div>

          </form>

        <div class="row flex-grow-1 overflow-hidden">
          <div class="col-4 h-100 overflow-auto">
            <div class="d-flex flex-column">
              <div class="list-group">
                {% include 'logs_box.html' %}
              </div>

            </div>
          </div>

          <section id="detail-pane" class="col-8 h-100 text-center overflow-auto">
            <p>Click on log to see details</p>
          </section>
        </div>
      </div>
    </main>

    

    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
