{% for log in logs %}
    {% set current_id = start_index + loop.index0 %} {# tworzenie zmiennej przechowujacej id logu #}
    <li 
        class="log-item list-group-item text-nowrap overflow-hidden px-1 border-bottom border-dark"
        hx-get="/detail/{{ current_id }}"
        hx-target="#detail-pane"
    >
    {{ log.orig_h }} - [{{ log.status }}] {{ log.uri }}
    </li>
{% endfor %} 

{% if next_index < total_count %}  {# wklejamy w miejsce przycisku wynik zapytania get, czyli nastepne logi, outetHTML wlasnie powoduje wymiane calego bloku, przeciwienstwo to innetHTML czyl rama zostaje i tylko wnetrze sie zmieniane#}
<li id="przycisk-ladowania" class="list-group-item text-center bg-dark p-2 border-0">
    <button
        class="btn btn-outline-light w-100 mx-0"
        hx-get="/load_more/{{ next_index }}"
        hx-target="#przycisk-ladowania"
        hx-swap="outerHTML" 
    >
        Zaladuj kolejne logi
        <br>
        <small class="text-muted">(Pobrano {{ next_index }} z {{ total_count }})</small>
    </button>
</li>
{% endif %}

<script>
    const changeActiveLog = (el) => {
        // check if cliked element already has log-item class
        let target = el.target.closest('.log-item') // closest is taking closest .log-item element

        if (target) {
            document.querySelectorAll('.log-item').forEach(el => {
                el.classList.remove('active');
            });

            target.classList.add('active');
        }
    }

    // event listeners
    document.body.addEventListener('click', changeActiveLog);
</script>